<h1>TripLogger</h1>

<div>
  <h3><a href="/cities/<%= @city.id %>"><%= @city.name %></a> Trip</h3>
  <br>
  <p>Length of Trip: <%= @trip.length_of_visit %></p>
  <br>
  <p>Trip Created by: <%= @user.username %></p>
</div>

  <button type="submit" value="submit"><a href="/trips/<%= @trip.id %>/edit">Edit Trip</a></button>

<form action="/trips/<%= @trip.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <button type="submit" value="submit">Delete Trip</button>
</form>
