<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= "#{@user.username}" %>'s Trips</h1>

<h2>You have <%= "#{@user.trips.size}" %> trip(s) logged!</h2>

<h3>Trip(s):</h3>
  <% @user.trips.each do |trip| %>
    <h4><a href="/trips/<%= trip.id %>"> <%= trip.city.name %></h4></a>
  <% end %>

<br>

<h2>Add a new trip!</h2>

<form action="/trips" method="POST">
  <label for="city_name">City Name:</label>
    <select name="city_name">
      <% @cities.each do |city| %>
        <option value="<%= city.name %>"><%= city.name %></option>
      <% end %>
    </select>
  Or, enter a new city
    <input type="text" name="new_city_name">
  <label for="length_of_visit">Length of Visit:</label>
    <input type="text" name="length_of_visit">
  <button type="submit" value="submit">Add Trip</button>
</form>
