<h1>Trip Log</h1>

<% @cities.each do |city| %>
  <div>
    <a href="/cities/<%= city.id %>"><h3><%= city.name %> Trip</h3></a>
    <p>Created by: <a href="/users/<%= city.user.id %>"> <%= city.user.username %></a></p>
    <p>Length of Trip: <%= city.length_of_visit %></p>
  </div>
<% end %>

<a href="/cities/new">Add Trip</a>
